main{
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    gap:0.5px;
    flex-wrap: wrap;
    align-items: center;
}

.planos{
    background-color: white;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding:3rem;
    cursor: pointer;
}

.planos:hover{
    padding: 4rem;
}

.planos:nth-child(odd){
    padding:2rem;
}

.planos:nth-child(odd):hover{
    padding:3rem;
}

.planos div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}
.planos div h1{
    font-size: 4rem;
}

.lista{
    display: flex;
    flex-direction: column;
}



.lista li{
    
    border-top:1px solid gray ;
    padding: 0.8rem;
}

.lista li:last-child{
    border-bottom:1px solid gray ; 
}

.saiba{
    border-radius: 0.5rem;
    padding:  0.5rem 2rem;
    border: 2px solid blueviolet ;
    color: white;
    background-color: blueviolet;
}

.saiba:hover{
    color: blueviolet;
    background-color: transparent;
}