*{
    margin: 0;
    padding: 0;
}

li, a{

    list-style: none;
    text-decoration: none;

}

a{
    display: inline-block;
}

body{
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}


.precos{
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensal{
    grid-area: 1/1;
}

/* The switch - the box around the slider */
.switch {
    margin-top: 1rem;
    font-size: 17px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 62px 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 62px;
    height: 35px;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 1;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    grid-column: 2/2;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.9em;
    width: 1.9em;
    border-radius: 16px;
    left: 1.2px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
   }
   
   input:checked + .slider {
    background-color: blueviolet;
    border: 1px solid transparent;
   }
   
   input:checked + .slider:before {
    transform: translateX(1.5em);
   }